{% extends "header/header.html" %}
{% load static %}


{% block title %}
Create Account

{% endblock  %}


{% block content %}

 
   
    <section class="log-reg">
        <div class="overlay pb-120">
            <div class="container">
                <div class="top-head-area">
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-5 col">
                            <a class="back-home" href="{% url "home" %}">
                                <img src="{% static 'assets/img/left-icon.png' %}" alt="image">
                                Back To People Bank
                            </a>
                        </div>
                        <div class="col-sm-5 col">
                            <a href="index.html">
                                <img src="{% static 'assets/logo/logo.png' %}" alt="image" width="150px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="form-box">
                            <h4>Log in to People Bank</h4>
                            <p class="dont-acc">Don't have an account? <a href="register.html">Register</a></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="personal-tab" data-bs-toggle="tab"
                                        data-bs-target="#personal" type="button" role="tab" aria-controls="personal"
                                        aria-selected="true">Personal</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="business-tab" data-bs-toggle="tab" data-bs-target="#business"
                                        type="button" role="tab" aria-controls="business"
                                        aria-selected="false">Business</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">                                
                                    <form action="#" method="post" id="login-personal-form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="email" name="email" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="password" class="passInput" name="password" placeholder="Password">
                                                    <img class="showPass" src="{% static 'assets/img/show-hide.png' %}" alt="image">
                                                </div>
                                            {% comment %} </div>
                                             {% if google_auth_required %}
                                             <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="text" name="otp_code" placeholder="Google Authenticator Code" required>
                                                </div>
                                            </div>
                                            {% endif %} {% endcomment %}
                                        </div>
                                           <div class="btn-area" id="btn-personal-login">
                                            <button class="cmn-btn">
                                            <span id="login-personal-text">Log In</span>
                                            <span
                                                class="spinner-border"
                                                style="width: 2rem; height: 2rem; display: none"
                                            ></span>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="form-bottom">
                                        <div class="continue"><p>Or continue with</p></div>
                                        <div class="login-with d-flex align-items-center">
                                            <a href="javascript:void(0)"><img src="{% static 'assets/img/google.png' %}" alt="image"></a>
                                            <a href="javascript:void(0)"><img src="{% static 'assets/img/fb.png' %}" alt="image"></a>
                                        </div>
                                        <div class="forget-pw">
                                            <a href="forgot-password-2.html">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
                                    <form action="#" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="email" placeholder="Business email">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="single-input d-flex align-items-center">
                                                    <input type="password" class="passInput" placeholder="Password">
                                                    <img class="showPass" src="{% static 'assets/img/show-hide.png' %}" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                         <div class="btn-area" id="btn-login">
                                            <button class="cmn-btn">
                                            <span id="login-text">Log In</span>
                                            <span
                                                class="spinner-border"
                                                style="width: 2rem; height: 2rem; display: none"
                                            ></span>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="form-bottom">
                                        <div class="continue"><p>Or continue with</p></div>
                                        <div class="login-with d-flex align-items-center">
                                            <a href="javascript:void(0)"><img src="{% static 'assets/img/google.png' %}" alt="image"></a>
                                            <a href="javascript:void(0)"><img src="{% static 'assets/img/fb.png' %}" alt="image"></a>
                                        </div>
                                        <div class="forget-pw">
                                            <a href="forgot-password.html">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

      
    {% endblock content %}